{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Market</title>
    <link rel="shortcut" type="x-icon" href="{% static 'core/image/123ww.png' %}">
    <link rel="stylesheet" href="{% static 'core/css/header.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
            <!-- Logo / Header -->
            <h1 class="text-white mini mb-0 d-flex align-items-center">
                <i class="fas fa-shopping-cart edit-header mx-1"></i>
                <span class="text-warning">M</span>ini<span class="text-warning">M</span>arket
            </h1>

            <!-- Navbar Toggle and Menu -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/market/groc"><i class="fas fa-shopping-basket"></i> Groceries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/market/vegs"><i class="fas fa-carrot"></i> Vegetables</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user"></i> {{userdata.uname}}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{userdata.o1link}}">{{userdata.o1}}</a></li>
                            {% if userdata.o3 %}
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{userdata.o3link}}">{{userdata.o3}}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
